<div class="col-sm-12 col-md-3 text-center" style="border: 1px solid black">
  <div>
    <h2>Genres</h2>
    <p class=".fst-lighterweight" select genre></p>
    <hr class="border rounded border-primary border-3 opacity-50 mt-4" />
  </div>
  <div class="col-6 d-grid gap-3 mx-auto mt-5 getBtn">
    <button
      class="btn btn-outline-primary me-auto"
      style="transform: rotate(-90deg)"
    >Biography</button>

    <button
      class="btn btn-outline-danger ms-auto"
      style="transform: rotate(-90deg)"
    >Horror</button>

    <button
      class="btn btn-outline-success me-auto"
      style="transform: rotate(-90deg)"
    >Fantasy</button>

    <button
      class="btn btn-outline-info ms-auto"
      style="transform: rotate(-90deg)"
    >Sci-Fi</button>

    <button
      class="btn btn-outline-warning me-auto"
      style="transform: rotate(-90deg)"
    >Travel</button>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
  crossorigin="anonymous"
></script>
<script src="/js/bookcase.js"></script>