          <div>
            <h2>Genres</h2>
            <h4>Select a genre to browse</h4>
            <hr
              class="border rounded border-primary border-3 opacity-50 mt-4"
            />
          </div>
         <div class="col-6 d-grid gap-3 mx-auto mt-5 getBtn">
            <button class="btn btn-outline-primary me-auto" style="transform: rotate(-90deg)">Biography</button>

            <button class="btn btn-outline-danger ms-auto" style="transform: rotate(-90deg)">Horror</button>

            <button class="btn btn-outline-success me-auto" style="transform: rotate(-90deg)">Fantasy</button>

            <button class="btn btn-outline-info ms-auto" style="transform: rotate(-90deg)">Sci-Fi</button>

            <button class="btn btn-outline-warning me-auto" style="transform: rotate(-90deg)">Travel</button>
          </div>