<div class="card getBtn">
<div class="card text-start" style="width: 18rem">
  <div class="card-body" style="background-color:#f5f8f8;">
    <h6 class="text-center">Bookies Genres</h6>
      <button class="btn btn-info ms-auto" style="transform: rotate(-90deg)">Biography</button>
      </p>
    </div>
  </div>
  <div class="card text-center" style="width: 18rem">
    <div class="card-body" style="background-color:#ebf4f7">
      <p class="card-text"></p>
      <button class="btn btn-warning ms-auto" style="transform: rotate(-90deg)">Fantasy</button>
    </div>
  </div>
  <div class="card text-end" style="width: 18rem">
    <div class="card-body" style="background-color:#a5c0ca;">
      <p class="card-text"></p>
      <button class="btn btn-light ms-auto" style="transform: rotate(-90deg)">Sci-Fi</button>
    </div>
  </div>
  <div class="card text-start" style="width: 18rem">
    <div class="card-body" style="background-color:#74a5b9;">
      <p class="card-text"></p>
      <button class="btn btn-success ms-auto" style="transform: rotate(-90deg)">Travel</button>
    </div>
  </div>
  <div class="card text-end" style="width: 18rem">
    <div class="card-body" style="background-color:#0e73ac;">
      <p class="card-text"></p>
      <button class="btn btn-danger ms-auto" style="transform: rotate(-90deg)">Horror</button>
    </div>
  </div>
</div>
