<div class="card getBtn">
<div class="card text-start"  >
    <h6 class="text-center m-0" style="background-color:#f5f8f8;">Bookies Genres</h6>
  <div class="card-body pt-5" style="background-color:#f5f8f8;">
      <button class="btn btn-info ms-auto" style="transform: rotate(-90deg)">Biography</button>
      </p>
    </div>
  </div>
  <div class="card text-center"  >
    <div class="card-body pt-5" style="background-color:#ebf4f7">
      <p class="card-text"></p>
      <button class="btn btn-warning ms-auto" style="transform: rotate(-90deg)">Fantasy</button>
    </div>
  </div>
  <div class="card text-end"  >
    <div class="card-body pt-5" style="background-color:#a5c0ca;">
      <p class="card-text"></p>
      <button class="btn btn-light ms-auto" style="transform: rotate(-90deg)">Sci-Fi</button>
    </div>
  </div>
  <div class="card text-start"  >
    <div class="card-body pt-5" style="background-color:#74a5b9;">
      <p class="card-text"></p>
      <button class="btn btn-success ms-auto" style="transform: rotate(-90deg)">Travel</button>
    </div>
  </div>
  <div class="card text-end"  >
    <div class="card-body pt-5" style="background-color:#0e73ac;">
      <p class="card-text"></p>
      <button class="btn btn-danger ms-auto" style="transform: rotate(-90deg)">Horror</button>
    </div>
  </div>
</div>
