<div class="col-sm-12 col-md-2 text-center" style="border: 1px solid black">
          <div>
            <h2>my Bookies List</h2>
            <h4>Chosen Books</h4>
            <hr
              class="border rounded border-primary border-3 opacity-50 mt-4"
            />
          </div>
          <div class="col-6 d-grid gap-3 mx-auto">
            <p>book 1</p>
            <p>book 2</p>
            <p>book 3</p>
            <p>book 4</p>
            <p>book 5</p>
            <p>book 6</p>
          </div>
</div>