{{!-- <nav class="navbar col-12 text-center" style="border: 1px solid black background-color: #e3f2fd">
          <h1>Not Your Average Bookies</h1>
      <h2>Home</h2>
      <h2>About</h2>
      <h2>Login</h2>
</nav> --}}
        <nav class="navbar navbar-expand-lg p-4" style= "background-color: #0E73A3">
            <div class="container-fluid">
                <h3 style="color:#b97474">Not Your Average Bookies</h3>
                <ul class="navbar-nav pe-5 fs-5">
                  <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                  </li>
                  {{!-- <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                  </li> --}}
                  <li class="nav-item">
                    <a id="logout" class="nav-link" href"#" style="cursor: pointer">Logout</a>
                  </li>          
                </ul>
            </div>
        </nav>