<!DOCTYPE html>
<html>
  <head>
    <title>Responsive Web Design</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="../../public/css/reset.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" type="text/css" href="./style.css" />
  </head>
  <body>
    <nav class="navbar">
      <h1>Not Your Average Bookies</h1>
      <h2>Home</h2>
      <h2>About</h2>
      <h2>Authors</h2>
      <h2>Readers Section</h2>
    </nav>

    <!-- Body -->
    {{{body}}}

    <!-- Footer -->
    <footer>
      <h3>Developed by Sabrina, Spencer Gran, Matthew Yang and Matthew Flug</h3>
    </footer>
  </body>
</html>
