<html>
  <head>
    <title>Responsive Web Design</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="../../public/css/reset.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" type="text/css" href="./css/style.css" />
  </head>
  <body>
    <nav class="navbar">
      <h1>Not Your Average Bookies</h1>
      <h2>Home</h2>
      <h2>About</h2>
      <h2>Authors</h2>
      <h2>Readers Section</h2>
    </nav>

    <!-- Body -->
    <main>
      <!-- Sidebar -->
      <section class="d-flex flex-row justify-content-center">
        <!-- <div class="row" id="searchBox"> -->
        <div class="col-sm-12 col-md-3" style="border: 1px solid black">
          <h2>Spencer's Genre</h2>
          <div class="general-container border-bottom">
            <h2 class="vertical-text">Horror</h2>
            <div class="empty-box"></div>
          </div>
          <div class="general-container border-bottom">
            <div class="empty-box"></div>
            <h2 class="vertical-text">Horror</h2>
          </div>
          <div class="general-container border-bottom">
            <h2 class="vertical-text">Horror</h2>
            <div class="empty-box"></div>
          </div>
          <div class="general-container border-bottom">
            <h2 class="vertical-text">Horror</h2>
            <div class="empty-box"></div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 bg-dark middle-box">
          <div>
            <h3>Text 1</h3>
          </div>
          <div class="d-flex flex-row">
            <div class="w-50">
              <section class="card">
                <header>Book 1</header>
                <p>Price: $300</p>
              </section>
            </div>
            <div class="w-50">
              <section class="card">
                <header>Book 2</header>
                <p>Price: $150</p>
              </section>
              <section class="card">
                <header>Book 3</header>
                <p>Price: $30</p>
              </section>
            </div>
          </div>
          <!-- <div class="products">
            <section class="card">
              <header>Book 1</header>
              <p>Price: $300</p>
            </section>
            <section class="card">
              <header>Book 2</header>
              <p>Price: $150</p>
            </section>
            <section class="card">
              <header>Book 3</header>
              <p>Price: $30</p>
            </section>
          </div>
          <div class="col-sm-12 col-md-3" style="border: 1px solid black">
            <p>Notes testing</p>
          </div> -->
        </div>
        <div class="col-sm-12 col-md-3" style="border: 1px solid black">
          <h2>Spencer's Genre</h2>
        </div>
      </section>
    </main>

    <!-- Footer -->
    <footer>
      <h3>Developed by Sabrina, Spencer Gran, Matthew Yang and Matthew Flug</h3>
    </footer>
  </body>
</html>