<h2 class="mt-5">About</h2>
<div class="container mt-5" >
<p>Not Your Average Bookies is a web application that shares information about books sorted by genre, top selling books, top books of the week, and book keeping options available for users. Our purpose and vision is to "KEEP PEOPLE READING". Did you know that children who have learned to read before the age of 8, are less likely to end up in prison later in life, and are 3-4 times less likely to drop out of school?. </p>
</div>
