<main>
  <!-- Sidebar -->
  <section class="d-flex flex-row justify-content-center">
    <!-- <div class="row" id="searchBox"> -->
    <div class="col-sm-12 col-md-3" style="border: 1px solid black">
      <h2>Spencer's Genre</h2>
      <div class="general-container border-bottom">
        <h2 class="vertical-text">Horror</h2>
        <div class="empty-box"></div>
      </div>
      <div class="general-container border-bottom">
        <div class="empty-box"></div>
        <h2 class="vertical-text">Horror</h2>
      </div>
      <div class="general-container border-bottom">
        <h2 class="vertical-text">Horror</h2>
        <div class="empty-box"></div>
      </div>
      <div class="general-container border-bottom">
        <h2 class="vertical-text">Horror</h2>
        <div class="empty-box"></div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 bg-dark middle-box">
      <div>
        <h3>Text 1</h3>
      </div>
      <div class="d-flex flex-row">
        <div class="w-50">
          <section class="card">
            <header>Book 1</header>
            <p>Price: $300</p>
          </section>
        </div>
        <div class="w-50">
          <section class="card">
            <header>Book 2</header>
            <p>Price: $150</p>
          </section>
          <section class="card">
            <header>Book 3</header>
            <p>Price: $30</p>
          </section>
        </div>
      </div>
      <!-- <div class="products">
            <section class="card">
              <header>Book 1</header>
              <p>Price: $300</p>
            </section>
            <section class="card">
              <header>Book 2</header>
              <p>Price: $150</p>
            </section>
            <section class="card">
              <header>Book 3</header>
              <p>Price: $30</p>
            </section>
          </div>
          <div class="col-sm-12 col-md-3" style="border: 1px solid black">
            <p>Notes testing</p>
          </div> -->
    </div>
    <div class="col-sm-12 col-md-3" style="border: 1px solid black">
      <h2>Spencer's Genre</h2>
    </div>
  </section>
</main>